*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 12px !important;
  line-height: 1.8;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: #5f5c68;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body a,
html a {
  text-decoration: none;
  outline: 0;
  color: #679334;
}

body a:hover,
html a:hover {
  color: #679334;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.award {
  position: fixed;
  top: 15px;
  right: 75px;
  z-index: 9999;
  width: 80px;
  height: 80px;
}

header {
  display: block;
}
.q-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding: 0 5rem;
  margin: 0 auto;
}
.columns {
  display: flex;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

#header .logo-wrap {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  z-index: 10;
}

#header .logo-wrap.logo {
  display: inline-block;
  max-width: 120px;
  border-style: none;
}

.smmooth {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  will-change: transform;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.bg-image-section-one {
  position: relative;
  overflow: hidden;
}

.bg-image-section-one:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-image-section-one:before {
  background-image: url('~/assets/images/bg-section-1.png');
  top: -10vh;
  left: -25px;
  height: 100%;
  width: 250px;
}

.bg-image-section-one:after,
.bg-image-section-one:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-vanilla {
  background-color: #f0f0f5;
}

.bg-vanilla {
  background-color: #f0f0f5;
}

.container-inner {
  padding-left: 12rem;
  padding-right: 12rem;
}

.block-card-shadow {
  padding: 50px 0 80px;
}

.block-card-shadow .block-picture {
  flex: none;
  width: 57.5%;
}

.block-card-shadow .block-picture .picture {
  position: relative;
  margin: 0;
  padding: 0 30px 0 20px;
  height: 100%;
}

.block-card-shadow .block-picture .box.wide {
  position: absolute;
  top: 60px;
  right: -80%;
  width: 140%;
}

.block-card-shadow .block-picture .box {
  position: absolute;
  top: 60px;
  right: 0;
  width: 83%;
  height: 100%;
  background-color: #d8d6e2;
  z-index: 0;
}

.block-card-shadow .block-picture .picture .rev_clip {
  height: 100%;
  position: relative;
  z-index: 5;
}

.rev_clip img {
  position: absolute;
  max-width: 200%;
  width: 100%;
  min-width: 100%;
  min-height: 250px;
}

.block-card-shadow .block-entry {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
  flex: none;
  width: 42.5%;
}

.block-card-shadow .block-entry .inner {
  padding: 0 50px 0 100px;
}

.block-card-shadow .block-entry .section-headline {
  margin-top: 100px;
}
.section-headline {
  font: 400 35px/1.3 Playfair Display, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5f5c68;
  position: relative;
  margin-top: 0;
  display: block;
  margin-bottom: 50px;
}

.q_split {
  display: block;
  overflow: hidden;
}

.inline-link {
  padding: 20px;
  margin-left: -20px;
  position: relative;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inline-link.q_magnet {
  display: inline-block;
}

.inline-link::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 2px;
  background: #679334;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.inline-link:hover:before {
  width: 100%;
  width: calc(100% - 40px);
}

.inline-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 2px;
  background: #679334;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.bg-blue-dark p {
  color: #d8d6e2;
}

//  {
//   padding: 150px 0;
// }
.bg-image-section-two {
  position: relative;
  overflow: hidden;
}

.bg-image-section-two:before {
  background-image: url('~/assets/images/bg-section-2.png');
  top: -1%;
  left: 20%;
  height: 100%;
  width: 300px;
}

.bg-image-section-two:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.bg-image-section-two:after {
  background-image: url('~/assets/images/bg-section-2.2.png');
  bottom: -20%;
  right: 25%;
  height: 500px;
  width: 300px;
}

.bg-image-section-two:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.bg-blue-dark {
  background-color: #5f5c68;
}

.bg-blue-dark p {
  color: #d8d6e2;
}

.accommodations:after {
  clear: both;
  content: '';
  display: block;
}

.accommodations .accommodation-type {
  width: 33.33333%;
  float: left;
  height: 450px;
  position: relative;
}

.bg-blue-dark .section-headline {
  color: #f0f0f5;
}
.section-headline {
  font: 400 35px/1.3 Playfair Display, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5f5c68;
  position: relative;
  margin-top: 0;
  display: block;
  margin-bottom: 50px;
}

.accommodations .accommodation-type a h4.accommodation-name {
  color: #fff;
  position: absolute;
  left: 20%;
  right: 20%;
  z-index: 2;
  bottom: 5%;
  font-size: 11px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 35px;
  letter-spacing: 2px;
}

.accommodations:hover .accommodation-type a:hover h4.accommodation-name:before {
  width: 100%;
}

.accommodations .accommodation-type a h4.accommodation-name:before {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  background-color: hsla(0, 0%, 100%, 0.8);
  margin: 10px 0 0;
  position: relative;
  left: 0;
}

.accommodations .accommodation-type a h4.accommodation-name:before {
  transition: all 0.3s ease;
}

.accommodations .accommodation-type a .accommodation-bg {
  width: 98%;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  background-size: 95%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: auto;
  background-size: auto 100%;
  transition: all 0.4s ease;
}

.accommodations .accommodation-type:nth-child(0) a .accommodation-bg-change {
  background-position: 0;
}

.accommodations .accommodation-type:nth-child(1) a .accommodation-bg-change {
  background-position: 100%;
}

.accommodations .accommodation-type:nth-child(2) a .accommodation-bg-change {
  background-position: 50%;
}

.accommodations .accommodation-type a .accommodation-bg-change {
  content: '';
  width: 98%;
  position: absolute;
  height: 100%;
  transform: translateX(-105%);
  background-color: #333107;
  background-size: cover;
}

@media screen and (min-width: 769px) {
  .columns:not(.q-desktop) {
    display: flex;
  }
}
